<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829654777654-5aab2qq539cljn58lik71mh14r18siof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829654777654-5aab2qq539cljn58lik71mh14r18siof</string>
	<key>API_KEY</key>
	<string>AIzaSyCVxkQoS6LH1FV-6ixF81dEXKUaJV1oTUk</string>
	<key>GCM_SENDER_ID</key>
	<string>829654777654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anabebe.aboutAbe2</string>
	<key>PROJECT_ID</key>
	<string>i-am-abe</string>
	<key>STORAGE_BUCKET</key>
	<string>i-am-abe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829654777654:ios:330c4e312c6c79a3cb3d97</string>
</dict>
</plist>